body {
	position:relative;
}

.affix {
	top: 20px;
	width:263px;
}

.img-fit {
	margin-top: 25px;
	margin-bottom: 10px;

}
.fit h2 {
	border-bottom: 1px solid #454545;
}
.statsIcon {
	height: 38px;
	width: 38px;
}
.statsIconSmall {
	height: 32px;
	width: 32px;
}
.tab-pane {
	padding: 10px;
	border: 1px solid #454545;
	border-top-width: 0;
	border-radius: 0 0 4px 4px;
}
.fitting {
	border: 1px solid #464545;
	border-radius: 4px;
	margin: 20px 48px 0 48px;
}
.fitting .h3 {
	color: #00bc8c;
	padding: 5px 0 5px 0;
	margin: 0px;
	border-bottom: 1px solid #464545;
}
.fitting .h3:hover {
	background: #303030;
}
.racks {
	padding: 10px 10px 10px 10px;
}
.rack {
	margin: 0 0 1px 0;
}
.rack span {
	text-align: center;
	font-size: small;
	display: inline-block;
	width: 48px;
	border: 1px solid #464545;
	transform: rotate(270deg);
	margin: 0 -17px 0 -14px;
}
.rack.small span {
	font-size: x-small;
	width:32px;
	margin: 0 -11px 0 -4px;
}
.rack img.module {
	display: inline-block;
	border: 1px solid #464545;
	height: 48px;
	width: 48px;
	margin: 0 1px 0 0;
}
.rack.small img.module {
	width:32px;
	height:32px;
}
.rack img.charge {
	display: inline-block;
	background: rgba(50,50,50,0.5);
	border: 1px solid #464545;
	height: 24px;
	width: 24px;
	margin: 0 1px -23px -25px;
}