<template name="fittings">
{{#each fits}}
	{{>fit}}
{{/each}}
</template>

<template name="fit">
<div class="row fit">
	<div class="col-sm-3">
		<img class="center-block img-rounded img-thumbnail img-fit" src="http://image.eveonline.com/Render/{{shipTypeID}}_128.png"/>
		<p class="h3 text-center">{{role}}</p>
	</div>
	<div class="col-sm-6">
		<h2>{{shipTypeName}} <small>{{subtitle}}</small></h2>
		<div class="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#info{{_id}}" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
				<li role="presentation"><a href="#stats{{_id}}" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
				<li role="presentation"><a href="#tips{{_id}}" aria-controls="tips" role="tab" data-toggle="tab">Tips</a></li>
				<li role="presentation"><a href="#fittingdoctor{{_id}}" aria-controls="fittingdoctor" role="tab" data-toggle="tab">Fitting Doctor</a></li>
				<li role="presentation"><a href="#eft{{_id}}" aria-controls="eft" role="tab" data-toggle="tab">EFT</a></li>
				</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="info{{_id}}">
					<p>
						{{description}}
					</p>
					<p>
						Difficulty: <span class="label label-danger">{{difficulty}}</span>
					</p>
					<p>
						{{#each fit.lows}}
							<img src="http://image.eveonline.com/Type/{{typeID}}_32.png"/>
						{{/each}}
					</p><p>
						{{#each fit.mids}}
							<img src="http://image.eveonline.com/Type/{{typeID}}_32.png"/>
						{{/each}}
					</p><p>
						{{#each fit.highs}}
							<img src="http://image.eveonline.com/Type/{{typeID}}_32.png"/>
						{{/each}}
					</p><p>
						{{#each fit.rigs}}
							<img src="http://image.eveonline.com/Type/{{typeID}}_32.png"/>
						{{/each}}
					</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="stats{{_id}}">
					<table class="table table-condensed">
						<tr>
							<td><img src="img/fourier/ehp.png" class="statsIcon" alt="Suitcase"/> EHP:</td>
							<td>{{stats.ehp}}</td>
						</tr>
						<tr>
							<td><img src="img/fourier/speed.png" class="statsIcon" alt="Propulsion Module"/> Speed:</td>
							<td>{{stats.speed}}</td>
						</tr>
						<tr>
							<td><img src="img/fourier/dps.png" class="statsIcon" alt="Doomsday Device"/> DPS:</td>
							<td>{{stats.dps}}</td>
						</tr>
						<tr>
							<td><img src="img/fourier/range.png" class="statsIconSmall" alt="Range"/> &nbsp;Range:</td>
							<td>{{stats.range}}</td>
						</tr>
					</table>				
				</div>
				<div role="tabpanel" class="tab-pane" id="tips{{_id}}">
					<ul>
						{{#each tips}}
							<li>
								{{this}}
							</li>
						{{/each}}
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane" id="fittingdoctor{{_id}}">
					<h4>not enough CPU</h4>
					<p>{{cpuDoctor}}</p>
					<h4>not enough Powergrid</h4>
					<p>{{powergridDoctor}}</p>
				</div>
				<div role="tabpanel" class="tab-pane" id="eft{{_id}}">
					<pre>
[Kestrel, MIG]
 
Ballistic Control System II
Nanofiber Internal Structure II
 
Medium Azeotropic Ward Salubrity I
Limited 1MN Microwarpdrive I
Warp Disruptor II
Fleeting Propulsion Inhibitor I
 
Light Missile Launcher II, Caldari Navy Nova Light Missile
Light Missile Launcher II, Caldari Navy Nova Light Missile
Light Missile Launcher II, Caldari Navy Nova Light Missile
Light Missile Launcher II, Caldari Navy Nova Light Missile
 
Small Ancillary Current Router II
Small Anti-EM Screen Reinforcer I
Small Core Defense Field Extender I
					</pre>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Support</h2>
    <p>Template fittings</p>
	<p>
		<form class="test">
			<textarea type="text" name="text" ></textarea>
			<input type="submit" name="test" value="Submit"/>
		</form>
	</p>
</template>