<template name="fittings">
<div class="row" id="scrollspy">
	<div class="col-sm-9">
	{{#each roles}}
		<h2 id="{{role}}">{{role}}</h2>
		{{#each fits}}
			{{>fit}}
		{{/each}}
	{{/each}}
	</div>
	<div class="col-sm-3">
		<nav id="fit-nav">
			<ul class="nav" data-spy="affix">
			{{#each roles}}
				<li class="role">
					<a href="#{{role}}"><i class="glyphicon glyphicon-menu-down"></i> {{role}}</a>
					<ul class="nav" data-spy="affix">
					{{#each fits}}
						<li class="fit">
							<a href="#fit{{_id}}"><i class="glyphicon glyphicon-menu-right"></i> {{shipTypeName}}</a>
						</li>
					{{/each}}
					</ul>
				</li>
			{{/each}}
			</ul>
		</nav>
	</div>
</div>
{{#if currentUser}}
<h3>Add new Fit</h3>
<p>
	<form class="test">
		<textarea type="text" name="text" ></textarea>
		<input type="submit" name="test" value="Submit" class="btn btn-primary"/>
	</form>
</p>
{{/if}}
</template>

<template name="fit">
<div class="row fit" id="fit{{_id}}">
	<div class="col-sm-3">
		<img class="center-block img-rounded img-thumbnail img-fit" src="http://image.eveonline.com/Render/{{shipTypeID}}_128.png"/>
		<p class="text-center"><span class="label label-default">{{role}}</span></p>
	</div>
	<div class="col-sm-9">
		<h3>{{shipTypeName}} <small>{{subtitle}}</small></h3>
		<div class="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				{{>tab id=_id href="info" icon="info-sign" title="Info" class="active"}}
				{{>tab id=_id href="stats" icon="signal" title="Stats"}}
				{{>tab id=_id href="tips" icon="question-sign" title="Tips"}}
				{{>tab id=_id href="fittingdoctor" icon="cog" title="Fitting Doctor"}}
				{{>tab id=_id href="eft" icon="list" title="EFT"}}
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="info{{_id}}">
					<p>
					{{#ifEmpty description}}
						<i>not available</i>
					{{/ifEmpty}}
					</p>
					<p>
						Difficulty: <span class="label {{labelColor}}">{{#ifEmpty difficulty}}
							unknown
						{{/ifEmpty}}
						</span>
					</p>
					{{#with loadout}}
						{{>loadout}}
					{{/with}}
				</div>
				<div role="tabpanel" class="tab-pane" id="stats{{_id}}">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-1">
							{{>stats}}
						</div>		
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tips{{_id}}">
					{{>tips}}	
				</div>
				<div role="tabpanel" class="tab-pane" id="fittingdoctor{{_id}}">
					{{>fittingDoctor fittingDoctor}}
				</div>
				<div role="tabpanel" class="tab-pane" id="eft{{_id}}">
					{{>eft}}
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<template name="tab">
<li role="presentation" class="{{class}}"><a href="#{{href}}{{id}}" aria-controls="{{href}}{{id}}" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></span> {{title}}</a></li>
</template>

<template name="loadout">
<div class="fitting">
	<p class="h3 text-center">Loadout</p>
	<div class="racks">
		{{>rack name="HIGH" modules=highs}}
		{{>rack name="MID" modules=mids}}
		{{>rack name="LOW" modules=lows}}
		{{>rack name="RIG" modules=rigs}}
		{{>rackSmall name="SUBS" modules=subs}}
		{{>rackSmall name="DRNS" modules=drones}}
		{{>rackSmall name="CRG" modules=charges}}
	</div>
</div>
</template>

<template name="rack">
<div class="rack">
	<span class="rackName">{{name}}</span>
	{{#each modules}}{{>module}}{{/each}}
</div>
</template>

<template name="rackSmall">
{{#if filled modules}}
<div class="rack small">
	<span class="rackName">{{name}}</span>
	{{#each modules}}{{>module}}{{/each}}
</div>
{{/if}}
</template>

<template name="module">
<div class="module"><img class="module" src="http://image.eveonline.com/Type/{{typeID}}_64.png" title="{{typeName}}" alt="{{typeName}}"/>{{#if chargeID}}<img class="charge" src="http://image.eveonline.com/Type/{{chargeID}}_32.png" title="{{chargeName}}" alt="{{chargeName}}"/>{{/if}}{{#if quantity}}<span class="quantity">{{quantity}}</span>{{/if}}</div>
</template>

<template name="stats">
<table class="table table-condensed">
	<tr>
		<td><img src="img/fourier/ehp.png" class="statsIcon" alt="Suitcase"/> EHP:</td>
		<td>{{formatNumber stats.ehp}} ({{formatNumber statsLinked.ehp}})</td>
	</tr>
	<tr>
		<td><img src="img/fourier/speed.png" class="statsIcon" alt="Propulsion Module"/> Speed:</td>
		<td>{{formatNumber stats.speed}} m/s ({{formatNumber statsLinked.speed}} m/s)</td>
	</tr>
	<tr>
		<td><img src="img/fourier/sig.png" class="statsIcon" alt="Signature Icon"/> Signature:</td>
		<td>{{formatNumber stats.sigRadius}} m ({{formatNumber statsLinked.sigRadius}} m)</td>
	</tr>
	<tr>
		<td><img src="img/fourier/dps.png" class="statsIcon" alt="Doomsday Device"/> DPS:</td>
		<td>{{formatNumber stats.dps}}</td>
	</tr>
	<tr>
		<td><img src="img/fourier/range.png" class="statsIconSmall" alt="Range"/> &nbsp;Range:</td>
		<td>
		{{#with stats.range}}
			{{#if optimal}}
				{{formatNumber optimal}}+{{formatNumber falloff}} km
			{{else}}
				{{#if missileRange}}
					&lt;{{formatNumber missileRange}} km
				{{else}}
					{{formatNumber droneControlRange}} km
				{{/if}}
			{{/if}}
		{{/with}}
		</td>
	</tr>
</table>		
</template>

<template name="eft">
<pre>[{{shipTypeName}}, MiG]{{#each loadout.lows}}
{{typeName}}{{/each}}
{{#each loadout.mids}}
{{typeName}}{{/each}}
{{#each loadout.highs}}
{{typeName}}{{/each}}
{{#each loadout.rigs}}
{{typeName}}{{/each}}
{{#each loadout.drones}}
{{typeName}} x{{quantity}}{{/each}}
{{#each loadout.charges}}
{{typeName}} x{{quantity}}{{/each}}
</pre>
</template>

<template name="tips">
{{#if tips}}
	<ul>
	{{#each tips}}
		<li>
			{{this}}
		</li>
	{{/each}}
	</ul>
{{else}}
	<p><i>not available</i></p>
{{/if}}	 
</template>

<template name="fittingDoctor">
{{#if cpu}}
<h4>CPU</h4>
	<ul>
	{{#each cpu}}
		<li>
			{{this}}
		</li>
	{{/each}}
	</ul>
{{/if}}

{{#if powergrid}}
<h4>Powergrid</h4>
	<ul>
	{{#each powergrid}}
		<li>
			{{this}}
		</li>
	{{/each}}
	</ul>
{{/if}}

{{#if other}}
<h4>Other</h4>
	<ul>
	{{#each other}}
		<li>
			{{this}}
		</li>
	{{/each}}
	</ul>
{{/if}}
</template>

<template name="ifEmpty">
	{{#if this}}
		{{this}}
	{{else}}
		{{> Template.contentBlock}}
	{{/if}}
</template>