<template name="home">
<div class="page-header">
   <h1>
    	Welcome to Microgang Help
    </h1>
</div>
<p>The channel is for MicroGang Help ONLY. Keep conversation to MicroGang help / Fleet signup only. This is NOT a community channel. Unrelated discussion will be muted / banned.</p>

<p>Join our mailing list "Micro Gang"</p>

<p>All we promise is that our Warlords will take you out on roams, allowing you to learn the ropes.</p>

<p>Feel free to make your own fleets - if someone not on our list of warlords is leading it, join at your own risk</p>

<p>Warlords leave from Thera XII - The Sanctuary Institue of Paleocybernetics. Use <a href="http://www.eve-scout.com">http:://www.eve-scout.com</a> to find a hole near you.</p>

<p>In order to qualify to come on a roam, you must:
<ul>
<li>Have Teamspeak</li>
<li>Be near / in Thera with ship</li>
<li>x up when someone calls</li>
</ul>
</p>
<p>Roams will happen when individual experts feel like it. We use a lottery system. When a roam is called, simply x up and if you are chosen, you will receive a private chat. Lottery is used to determine who makes it. Sizes of fleets are extremly limited, and depends on the Warlord taking it out.</p>
</template>
