<template name="navigation">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">MiG</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/fittings">Fittings</a></li>
				<li><a href="/warlords">Warlords</a></li>
			</ul>
	        <!--<ul class="nav navbar-nav navbar-right">
	            {{> loginButtons}}  
	        </ul>-->
	    </div>
    </div>
</nav>
</template>
