<template name="warlords">
<div class="page-header">
	<h1>
		Warlords
	</h1>
</div>
<div class="row">
	{{#each warlords}}
		{{> warlord}}
	{{/each}}
</div>
{{#if currentUser}}
	{{>AddWarlord}}
{{/if}}
</template>

<template name="warlord">
<div class="col-sm-6 col-md-4" style="margin-bottom: 50px">
	<div class="thumbnail">
		<img class="center-block img-rounded img-thumbnail" src="https://image.eveonline.com/Character/{{characterID}}_128.jpg" alt="Portrait of {{characterName}}">
		<div class="caption">
			<h3 class="text-center">{{characterName}}</h3>
			<p class="text-center">Member of <em>{{corporationName}}</em></p>
			<p class="text-center">{{comment}}</p>
			{{#if currentUser}}
				<p class="text-center">
					<a href="/warlords/edit/{{_id}}" class="btn btn-default">
						<i class="glyphicon glyphicon-pencil"></i>
						Edit
					</a>
				</p>
			{{/if}}
		</div>
	</div>
</div>
</template>

<template name="AddWarlord">
	<h2>Add new Warlord</h2>
	{{> quickForm collection="Warlords" id="addWarlord" type="insert"}}
</template>